aside{
   position: fixed;
   right: 20px;
   top: calc(50% - 39px);
 }
 aside ul{
    
 }
 aside ul li:not(:last-child){
   margin-bottom: 10px;
 }
 aside ul li a{
   font-size: 0;
   width: 10px;
   height: 10px;
   display: block;
   background-color: #ccc;
   border-radius: 50%;
 }
aside ul li a:hover{
  background-color:#3c3c93; 
}
 .currentB{
   background-color:blue; 
 }
 .currentW{
   background-color:white; 
 }